{% extends 'base.html.twig' %}

{% block body %}<div class="container">
    <h1>{{marque.nom}}</h1>
    {# <p>{{mar.createdAt|date('Y-m-d') }}</p> #}
    <p>{{marque.logo}}</p>
    {{form(edit)}}
    </div>
{% endblock %}